.main-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  gap: 2rem;
  width: 30rem;
  margin-left: 39%;
  margin-top: 2%;
  background-color: #eaddc6;
}

.fields {
  border: 0.5rem solid #4d654d;
  width: 25rem;
  height: 5vh;
  background-color: #fff;
}

.container-title {
  background-color: inherit;
  text-decoration: underline;
}

.error-text {
  background-color: #ff3131;
  text-align: center;
}

.gifs {
  display: flex;
  justify-content: space-evenly;
}
